<h2>Edit Garage</h2>

<div class="underlay1 well">
	<%= form_for @garage do |f| %>

	<p><%= f.label :name, 'Garage name' %></p>
	<p class="darken_text"><%= f.text_area :name, cols: 100, rows: 1 %></p>

	<p><%= f.label :theme, 'Garage theme' %></p>
	<p class="darken_text"><%= f.text_area :theme, cols: 100, rows: 1 %></p>

	<p><%= f.label :details, 'Garage details' %></p>
	<p class="darken_text"><%= f.text_area :details, cols: 100, rows: 10 %></p>

	<button class="btn btn-primary">Update</button>

	<% end %>
</div>