<h2>Sign Up</h2>

<% if !@user.errors.empty? %>
	<div class="underlay1 well">
		<%= @user.errors.full_messages.each do |msg| %>
			<h3 class="error red_text"><%= msg %></h3>
		<% end %>
	</div>
<% end %>

<%= form_tag '/sign_up' do |f| %>
	<p><%= label_tag :first_name %></p>
	<p class="darken_text"><%= text_field_tag :first_name %></p>

	<p><%= label_tag :last_name %></p>
	<p class="darken_text"><%= text_field_tag :last_name %></p>

	<p><%= label_tag :email %></p>
	<p class="darken_text"><%= text_field_tag :email %></p>

	<p><%= label_tag :username %></p>
	<p class="darken_text"><%= text_field_tag :username %></p>

	<p><%= label_tag :password %></p>
	<p class="darken_text"><%= password_field_tag :password %></p>

	<p><%= label_tag :password_confirmation %></p>
	<p class="darken_text"><%= password_field_tag :password_confirmation %></p>

	<button class="btn btn-success">Sign Up</button>
<% end %>