<!DOCTYPE html>
<html>
<head>
  <title>Cargarage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'About', '/about' %></li>
		<li><%= link_to 'New Car', new_car_path %></li>
		<li><%= link_to 'New Garage', new_garage_path %></li>
		<li><%= link_to 'Show All Cars', show_all_cars_path %></li>
		<li><%= link_to 'Show All Garages', show_all_garages_path %></li>
		<li><%= link_to 'Show My Cars', show_my_cars_path %></li>
		<li><%= link_to 'Show My Garages', show_my_garages_path %></li>
		<li><%= link_to 'Sign Up', sign_up_path %></li>

		<% if logged_in? %>  
	  <p><%= link_to 'logout', login_path, :method => :delete, :data => { :confirm => 'are you sure?' } %></p>
	  <% else %>
	  <p><%= link_to 'login', login_path %></p>
	  <% end %>
	</ul>

<%= yield %>

</body>
</html>
